<div class="compoonents">

    <div class="container fluid ">
       <div class="row">
           <div class=" col-4 ">
               <div class="marker container d-flex align-items-start">    
           <img class="navbar-brand" [src]="miPortfolio.image">
           <div class="container align-middle ml4">
           <h3 >#YoProgramo</h3>
                </div>
           </div>
        

        <div class="marker col-4">

            <div class="container d-flex align-items-end"> 
           <ul>
           <li>
           <span class="red-social">
            <i class="fa-brands fa-instagram"></i>
      
           </span>
           </li>
           <li>
            <span class="red-social">
     
            <i class="fa-brands fa-facebook"></i>
            </span>
            </li>
 
           </ul>
              
            </div>

        </div>
        <div class="marker col-4">
            <button type="button" class="btn btn-success">Ingresar</button>

        </div>

    </div>
     </div>


    <app-banner></app-banner>


</div>

