<div class="container-fluid Skills_Portion" id="Skills_Portion">
    <div class="col-xl-10 mx-auto">
        <div class="Portion_Heading">
            <h2>My SKills</h2>
            <span>Skills</span>
        </div>
        <div class="col-12 Skills row mx-auto">
            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-11 col-12" data-aos="zoom-in">
                <div class="progressbar_container mx-auto">
                    <h3>Technical Skills</h3>
                    <div class="mb-4">
                        <div class="tech_skills skill_set show_skills">
                            <span class="icon material-icons-outlined">integration_instructions</span>
                            <div>
                                <h5>Frontend Developement</h5>
                                <span>3 years</span>
                            </div>
                            <span class="expand_more material-icons-outlined">chevron_right</span>
                        </div>
                        <div class="skills">
                            <div class="label">
                                <span>HTML</span>
                                <span>95%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi"></div>
                            </div>
                            <div class="label">
                                <span>CSS</span>
                                <span>85%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 85%;"></div>
                            </div>
                            <div class="label">
                                <span>React JS</span>
                                <span>75%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 75%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="tech_skills skill_set">
                            <span class="icon material-icons-outlined">settings_ethernet</span>
                            <div>
                                <h5>Backend Developement</h5>
                                <span>4 years</span>
                            </div>
                            <span class="expand_more material-icons-outlined">chevron_right</span>
                        </div>
                        <div class="skills">
                            <div class="label">
                                <span>PHP</span>
                                <span>76%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 76%;"></div>
                            </div>
                            <div class="label">
                                <span>MySql</span>
                                <span>72%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 72%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="tech_skills skill_set">
                            <span class="icon material-icons-outlined">devices</span>
                            <div>
                                <h5>UI/UX Design</h5>
                                <span>3 years</span>
                            </div>
                            <span class="expand_more material-icons-outlined">chevron_right</span>
                        </div>
                        <div class="skills">
                            <div class="label">
                                <span>Photoshop</span>
                                <span>90%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 90%;"></div>
                            </div>
                            <div class="label">
                                <span>Figma</span>
                                <span>78%</span>
                            </div>
                            <div class="progress_bar">
                                <div class="progress_indi" style="width: 78%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-11 col-12" data-aos="zoom-in">
                <h3>Professional Skills</h3>
                <div class="col-xl-9 progress_container row mx-auto">
                    <div class="col-6">
                        <div class="circular_progress"><span>90%</span></div>
                        <span>Communication</span>
                    </div>
                    <div class="col-6">
                        <div class="circular_progress" style="background: conic-gradient(var(--theme_color) 0%,var(--theme_color) 82%,#F2F2F2 82%, #F2F2F2 100%);"><span>82%</span></div>
                        <span>Analytical</span>
                    </div>
                    <div class="col-6">
                        <div class="circular_progress" style="background: conic-gradient(var(--theme_color) 0%,var(--theme_color) 65%,#F2F2F2 65%, #F2F2F2 100%);"><span>65%</span></div>
                        <span>Team Work</span>
                    </div>
                    <div class="col-6">
                        <div class="circular_progress" style="background: conic-gradient(var(--theme_color) 0%,var(--theme_color) 75%,#F2F2F2 75%, #F2F2F2 100%);"><span>75%</span></div>
                        <span>Leadership</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>