


body.Dark_Mode{
	--mode_color: #000000;
	--mode_color_v2: #bba8bff5;
	--dark_silver: #FFFFFF;
	--dull_black: #FFFFFF;
	--black_color: #FFFFFF;
	--border_color: #242a2d;
	--mode_color_v3: #0A090F;
	--mode_color_v4: #030304;
	--shadow:rgba(255, 255, 255, 0.1) 0px 1px 4px 0px, rgba(255, 255, 255, 0.06) 0px 1px 3px 0px;
}
body.Dark_Mode .Service_Portion .service_card,
body.Dark_Mode .timeline .timeline_item,
body.Dark_Mode .Price_Portion .price_card,
body.Dark_Mode .Review_Portion .review_card,
body.Dark_Mode .Contect_Me_Portion .contect_card,
body.Dark_Mode .theme_btn,
body.Dark_Mode .timeline .timeline_item:before,
body.Dark_Mode .theme_box:after,
body.Dark_Mode .small_navbar .small_nav:after,
body.Dark_Mode .small_navbar .small_nav,
body.Dark_Mode .theme_box{
	background: #0d0d0d!important;
}
/* CSS VARIABLES*/
:root{
	--mode_color:#FFFFFF;
	--mode_color_v2:#F2F2F2;
	--mode_color_v3:#EFEFEF;
	--mode_color_v4:#D8D8D8;
	--theme_color:#A97AFD;
	--black_color:#000000;
	--dull_black: #222222;
	--white_color:#FFFFFF;
	--light_silver:#777777;
	--border_color:#E5E5E5;
	--dark_silver:#444444;
	--normal_text:16px;
	--small_text:15px;
	--smaller_text:14px;
	--smallest_text:13px;
	--large_text:20px;
	--larger_text:22px;
	--largest_text:28px;
	--shadow:rgba(0, 0, 0, 0.1) 0px 1px 4px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
*{
	font-family: 'Poppins', sans-serif;
}

body
{margin: 0;

}

h3{
font-size: 20px;

}

.compoonents
{   border: solid  #777777;
    border-radius: 6px;

    padding:0px;

}

li
{
 
display: inline-block;
font-size: 25px;
padding: 10px;
list-style-type: none;

}